.btn-no-shadow {
    letter-spacing: .5px; 
    font-size: 14px; 
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
}

.is-default-btn {
    background-color: #536dfe !important;
    color: #fff !important;
    pointer-events: none;
    cursor: default;
}

.not-default-btn {
    background-color: #fff;
    border: 1px solid #536dfe;
    color: #536dfe;
}

.selected-vendor-btn {
    pointer-events: none;
    cursor: default;
}

.unselected-vendor-btn > img {
    opacity: 0.5;
}


.doordash-vendor-btn {
    border: 1px solid #E5E5E5
}

.valign-wrapper > .col {
    margin-top: auto;
}